.homeContainer {
    margin: 0 10%;
    display: flex;
    align-items: center;

    .slideBanner {}



    .discount {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 20px;


        h1 {
            font-weight: 100;
            font-size: large;
            width: 100%;
            display: flex;
            justify-content: center;
            position: relative;

            &::before {
                position: absolute;
                content: "";
                border-bottom: solid 1px black;
                margin-top: 10px;

                width: 100%;

            }
        }
    }
}